SERVICE_NAME=School-Management
SERVICE_PORT=8000
# ADMIN_PORT=5222
SERVICE_ENV=development
MONGO_URI=
REDIS_URI=
CORTEX_REDIS=r
CORTEX_PREFIX=
CORTEX_TYPE=
CACHE_REDIS=
CACHE_PREFIX=
LONG_TOKEN_SECRET=
SHORT_TOKEN_SECRET=
NACL_SECRET=
